.schedule {
    min-height: 100px;
    background: $greenColor;
    color: $lightColor;

    .container {
        .row {
            

            .scheduleImg {
                .calenderIcon {
                    width: 100%;
                    margin: 15px;
                    
                }
            }

            .headLine {
                margin: 15px 0;

                a {
                    color: $lightColor;
                    &:hover{
                        text-decoration: none;
                    }

                    h1 {
                        font-family: $fontFamelyText;
                    }

                    h6 {
                        color: $darkColor;
                        
                        &:hover {
                            text-decoration: underline;
                        }

                    }
                }
            }
        }
    }

}